/**
* Stylesheet copyright:17 November 2006 by Doug Hockinson (www.hockinson.com)
* For distribution with PHP Form Generator (www.php-form-generator.com/phpmyedit/)
* Class names ending in "-right-align" apply to forms created by the aforementioned project.
* Works with modern versions of all web browsers (not Netscape 4).
*/
a,
a.email
a:active,
a:link,
a:visited{
background-color:transparent;
color:#000000;
font-family:verdana,helvetica,arial,sans-serif;
font-size:small;
}
a:hover{
background-color:transparent;
color:#FF0000;
}
b,td,.bridgehead,.constant{
background-color:transparent;
color:#000000;
font-family:verdana,helvetica,arial,sans-serif;
font-size:small;
font-weight:normal;
}
body{
background-color:#FFFFFF;
color:#000000;
font-family:verdana,helvetica,arial,sans-serif;
font-size:small;
font-weight:normal;
line-height:140%;
margin:20px;
}
div.example,tt.varname,tt.function{
background-color:transparent;
color:#0000CC;
font-family:verdana,helvetica,arial,sans-serif;
font-size:small;
}
/* Form tags */
fieldset,
form,
input,
label,
legend,
option,
select,
textarea{
font-family:verdana,helvetica,arial,sans-serif;
font-size:small;
font-weight:normal;
}
h1,
h2,
h3,
h4,
h5,
h6{
font-family:arial,verdana,helvetica,sans-serif;
font-size:medium;
font-weight:bold;
}
hr,hr.pme-hr{
background-color:transparent;
color:#CCCCCC;
height:1px;
margin:3px 0px;
}
img.pme-navigation-0,
img.pme-navigation-1{
margin:3px 1px;
}
input{
margin:1px 2px;
}
pre{
font-family:verdana,helvetica,arial,sans-serif;
font-size:small;
font-weight:normal;
}
pre.programlisting{
background-color:#FFFFFF;
border:1px solid #336699;
color:#000000;
font-family:verdana,helvetica,arial,sans-serif;
font-size:small;
padding:5px 5px 5px 5px;
}
table{
border-collapse:collapse;
}
table.pme-tab{
margin-left:8px;
}
td{
padding:3px;
}
td.container{
background-color:#FFFFFF;
border:1px solid #999999;
color:#000000;
padding:8px 20px;
}
/* border-bottom for List mode */
td.pme-cell-0-right-align,
td.pme-cell-0,
td.pme-cell-1-right-align,
td.pme-cell-1,
td.pme-filter-right-align,
td.pme-filter,
td.pme-navigation-0,
td.pme-navigation-1,
td.pme-queryinfo,
td.pme-sortinfo,
th.pme-header-right-align,
th.pme-header{
border:1px solid #999999;
}
td.pme-filter{
text-align:center;
}
td.pme-message,
td.pme-stats,
p.pme-message{
background-color:transparent;
color:#0000FF;
margin-left:10px;
}
td.pme-tab{
padding:0px 5px;
}
td.pme-tab-selected{
padding:0px 5px;
}
th{
border-bottom:1px solid #999999;
border-top:1px solid #999999;
font-family:verdana,helvetica,arial,sans-serif;
font-size:small;
font-weight:bold;
padding:3px;
}
/* prevent navigation cells V-C-P-D from wrapping */
th.pme-header,
td.pme-navigation-0,
td.pme-navigation-1{
text-align:center;
white-space:nowrap;
}
tr{
vertical-align:top;
}
.filename{
background-color:transparent;
color:#0000FF;
font-family:verdana,helvetica,arial,sans-serif;
font-size:small;
font-weight:normal;
}
.ftr{
font-size:small;
}
.pme-add,
.pme-buttons,
.pme-cancel,
.pme-cell-0,
.pme-cell-1,
.pme-change,
.pme-clear,
.pme-copy,
.pme-delete,
.pme-filter-right-align,
.pme-filter,
.pme-first,
.pme-form,
.pme-goto,
.pme-header-right-align,
.pme-header,
.pme-help-0,
.pme-help-1,
.pme-hide,
.pme-input-0-right-align,
.pme-input-0,
.pme-input-1-right-align,
.pme-input-1,
.pme-key-0-right-align,
.pme-key-0,
.pme-key-1-right-align,
.pme-key-1,
.pme-last,
.pme-main,
.pme-message,
.pme-more,
.pme-navigation-0,
.pme-navigation-1,
.pme-navigation,
.pme-next,
.pme-prev,
.pme-query,
.pme-queryinfo,
.pme-row-0-right-align,
.pme-row-0,
.pme-row-1-right-align,
.pme-row-1,
.pme-save,
.pme-search,
.pme-sortinfo,
.pme-stats,
.pme-value-0-right-align,
.pme-value-0,
.pme-value-1-right-align,
.pme-value-1,
.pme-view{
font-family:verdana,helvetica,arial,sans-serif;
font-size:small;
font-weight:normal;
}
.pme-header-right-align,
.pme-cell-0-right-align,
.pme-cell-1-right-align{
font-family:verdana,helvetica,arial,sans-serif;
font-size:small;
font-weight:normal;
text-align:right;
}
/*td.pme-tab-end{
}
*/
